/*++Element selector++*/
    
    /*changing every instance of these elements in html file*/
    h3 {
        color: blue;
        border: 2px solid blue;
        border-radius: 3px;
        background-color: rgba(137, 43, 226, 0.363);
        text-align: center;
    }

    p {
        text-align: justify;
    }

    body {
        background-image: linear-gradient(powderblue, powderblue, rgba(177, 0, 165, 0.564));
        font-family: 'Courier New';
    }

    table, td {
        border: 1px solid;
    }

    td {    
        padding: 8px;
    }

    /*pseudo class practice - links change colour when hover over them*/
    a:hover {
        color: #ff0000;
      } 
    
    /*pseudo element practice - first letter of a paragraph as below*/ 
    p::first-letter {
        color: #7b0000;
        font-size: x-large;
      }


/*++Class selector++*/
    
    /*topics - nicer line height for menu*/
    .topic-selector {
        font-size: medium;
        text-align: center;
        list-style: none;
        line-height: 1.5;
        
    }

    /*about grid - making two columns*/
    .about-grid1 {
        display: grid;
        grid-template-columns: 50% 45%;
        grid-gap: 5%;
        grid-auto-rows: 560px;
    }


    /*max width and margin for entire site*/
    .container {
        max-width: 840px;
        margin: 0 auto;
    }  

    /*responsive main image*/
    .responsive {
        width: 35%;
        height: auto;
        max-width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto

      }

    /*scrolls for about sections*/
    .history {              
        overflow: auto;
    }
    .goalsandhobbies-grid {              
        overflow: auto;
    }

    /* Style the top navigation bar */
    .topnav {
        overflow: hidden;
    }
  
    /* Style the topnav links */
    .topnav a {
        float: center;
        display: block;
        color: #3344c7;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
    }
    
    /* Change back and text color on hover */
    .topnav a:hover {
        background-color: #e8c7ee;
        color: black;
    }

/*++ID selector++*/

    /*name text changes*/
    #welcome {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
    }

    /*job-quote*/
    #jobtitle-quote {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
    }